#testimonial {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(55, 79, 76);
   padding: 90px 0;

   .testimonial-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px;
      background-color: #ede5dc;
      gap: 0 52px;
      border-radius: 20px;
   }
   .testimonial-card {
      display: flex;
      gap: 0 13px;
   }
   .testimonial-box {
      width: 40px;
      height: 40px;
      background-color: #b2b0bd;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .testimonial-img {
      width: 40px;
      height: 40px;
      background-color: #eea35c;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .testimonial-image {
      width: 40px;
      height: 40px;
      background-color: #cad4bd;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .testimonial-title & h3 {
      font-family: "Times New Roman";
      font-weight: 400;
      font-size: 22px;
      line-height: 24px;
      color: #374f4c;
   }
   .testimonial-text {
      margin-top: 10px;
      display: inline-block;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #3e3e42;
   }
}
