* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: "Segoe UI";
   font-weight: 400;
   src: url(../fonts/Segoe\ UI.woff2);
}

.container {
   max-width: 1125px;
   margin: 0 auto;
   box-sizing: content-box;
   padding: 0 16px;
}

@import "./blocks/_nav.scss";
@import "./blocks/_hero.scss";
@import "./blocks/_testimonial.scss";
@import "./blocks/_about.scss";
@import "./blocks/_blog.scss";
@import "./blocks/_footer.scss";


